$white: #ffffff !default;
$gray-100: #eeeeee !default;
$gray-200: #999999 !default;
$gray-300: #666666 !default;
$gray-400: #333333 !default;
$black: #000000 !default;

$blue: #3483fa !default;
$yellow: #ffe600 !default;

$spacing: 8px;

// Default breakpoints
$xs: 480px;
$sm: 600px;
$md: 768px;
$lg: 960px;
$xl: 1280px;
$xxl: 1920px;
